

.container {
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1,1fr)repeat(1,4fr);
    grid-template-rows: repeat(1,calc(2/12vh))repeat(1,calc(1/12vh))repeat(1,calc(8/12vh))repeat(1,calc(1/12vh));
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: lightgray;
  }
    
  
  .container div {
    padding: 15px;
    font-size: 23px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #393f4d;
    grid-row: 1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .logo{
    display: flex;
    height: 5em;
    padding-left: 10px;
  }
  
  .menu{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
  
  .list{
   display: grid;
   grid-template-columns: repeat(4,1fr);
  }
  
  .menu ul,
  .menu li {
    font-size: 16px;
  }
  
  .sidebar {
    background-color: #FF7755;
    grid-column: 1;
    grid-row: 2/span 2;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
  }
  
  .sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  
  .sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }
  
  .nav {
    background-color: #FF7755;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .left{
    display: flex;
    font-size: 25px;
  }
  
  .dp{
    height: 2.5em;
    border-radius: 50%;
  }
  .btn {
    display: inline-block;
    margin: 15px;
    padding: 8px 23px;
    border-radius: 40px;
    background-color: #393f4d;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #999;
  }
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .article {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  
  .footer {
    background-color: #393f4d;
    grid-column: 1/-1;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;  
  }